/* Container Styling */
.OldBanner-container {
    width: 100%;
    height: 430px;
    position: relative;
    display: flex;
    background-color: #f1f2f2;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-image: url("../../../../assets/homepage/shelfspecbanner.jpg"); 
    background-size: cover;
    background-position: center; 
  }
    .OldBanner-placeholder {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .OldBanner-contactButton {
    position: absolute;
    bottom: 50px !important;
    right: 30px !important;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  
  @media (max-width: 977px) {
    .OldBanner-container {
      background-image: none; 
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #1050c1;
    }
  
    .OldBanner-placeholder {
      display: block; 
    }
  
    .OldBanner-contactButton {
      position: absolute;
      bottom: 20px;
    }
  }
  
  @media (min-width: 978px) {
    .OldBanner-placeholder {
      display: none; 
    }
  
    .OldBanner-contactButton {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 0 auto;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
    }
  }
  