.Trackwork-main-container {
    width: 100%;
    background-color: white;
    text-align: center;
    overflow-x: hidden;
}

.Trackwork-main-title {
    padding: 1em;
    font-size: 2.3em;
    font-weight: 400;
    color: #003873;
}

.Trackwork-subtitle {
    margin-bottom: 40px; 
    font-size: 1.3em;
    font-weight: 300;
    padding: 0em;
    color: #344ea1
}

.Trackwork-blue-box {
    width: 95%;
    margin: 0 auto;
    background-color: #4190fc;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-bottom: 20px;
}


.Trackwork-blue-box img {
    width: 100%;
    object-fit: cover;
}

.Trackwork-img1 {
    width: 470px !important;
    height: auto;
}

.Trackwork-img2 {
    width: 250px !important;
    height: auto;
}

.Trackwork-img3 {
    width: 330px !important;
    height: auto;
}

.Trackwork-aqua-box {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto; 
    background-color: white;
    padding: 10px; 
    border-radius: 10px; 
}

.Trackwork-border-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em;
}

.Trackwork-box {
    width: 30%;
    background-color: #e0f7fa;
    padding: 1.8em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.Trackwork-box:hover{
    transform: scale(1.05);
}
.Trackwork-box h3 {
    font-size: 1.3em;
    margin-bottom: 0.7em; 
    text-align: left;
    color: #003873;
}

.Trackwork-box p {
    margin: 0;
    font-size: 1em;
    color: #344ea1;
    text-align: left;
}


.Trackwork-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px; 
    margin-bottom: 20px;
}

.Trackwork-img {
    width: 20%; 
    max-width: 230px; 
    height: auto; 
    border-radius: 10px; 
    transition: transform 0.5s ease;
}

.Trackwork-img:hover {
    transform: scale(1.1);
}

[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  [data-aos="fade-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
  

@media (max-width: 1000px) {
    .Trackwork-blue-box {
        height: auto; 
        padding: 10px; 
    }
    .Trackwork-main-title {
        margin-bottom: 1px;
        padding: 1em;
        font-size: 2em;
    }

    .Trackwork-subtitle {
        margin-bottom: 15px; 
        font-size: 1.1em;
        padding: 0.1em;
    }

    .Trackwork-image-container {
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 20px; 
    }

    .Trackwork-blue-box img {
        max-width: 100%; 
        height: auto; 
    }

    .Trackwork-img1,
    .Trackwork-img2,
    .Trackwork-img3 {
        /* width: 100%; 
        max-width: 300px; 
        margin-bottom: 10px;  */
        display: none;
    }

    .Trackwork-border-box {
        flex-direction: column; 
        align-items: center;
        padding: 0.5em;
    }

    .Trackwork-box {
        width: 100%; 
        margin-bottom: 20px; 
        padding: 1.1em;
    }
    .Trackwork-image-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .Trackwork-img {
        width: 45%; 
        display: none;
    }
    
}




