.banner-container {
  display: flex;
  background-color: #1050c1;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
 overflow: hidden;
}
.banner-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3em;
  color: #ffffff;
}

.spacer {
  margin-top: 10px;
}

.spacer-large {
  margin-top: 20px;
}

.banner-button {
  align-self: flex-start;
}

.banner-left h2 {
  color: white;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5em;
}

.banner-left h3 {
  color: white;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 2.2em;
}

.banner-right {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-row {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 410px;
}

.mobilerack {
  width: 390px;
  height: auto;
  object-fit: contain;
  z-index: 2;
}

.mobileimg {
  width: 760px;
  height: auto;
  margin-right: -460px;
  object-fit: contain;
  z-index: 1;
  animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1015px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: auto; 
  }
  .placeholder-one {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
  }
  .banner-left {
    width: 90%; 
    padding: 1em 0;
    text-align: center;
    margin-top: 20px;
  }
  .banner-left h2,
  .banner-left h3,
  .banner-left p {
    margin: 10px 0;
    color: white;
    text-align: center; 
  }

  .banner-left p {
    font-size: 1em;
    color: white;
    margin: 10px 0;
    text-align: center;
  }
  .banner-button {
    align-self: center;
    margin-top: 20px;  
  }

  .image-row {
    display: none;
  }
  .banner-right {
    display: none;
  }
}

@media (min-width: 1016px) {
  .placeholder-one {
    display: none; 
  }
 
  .image-row {
    display: flex;
  }
}

@media (max-width: 1150px) {
.image-row {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 400px;
}

.mobilerack {
  width: 330px;
  height: auto;
  object-fit: contain;
  z-index: 2;
}

.mobileimg {
  width: 700px;
  height: auto;
  margin-right: -460px;
} 
}


@media (min-width: 1450px) {

  .banner-left {
    width: 53%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
    color: #344ea1; 
  }
  .banner-right {
    width: 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
  }
 
  
}