.tot-denvedio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px; 
  height: auto;
  background-color: #f1f2f2;
}

.tot-denvedio h2 {
  font-size: 2em;
  color: #003873;
  padding: 1em;
  text-align: center;
  margin: 0; 
}

.video-title-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px auto; 
}

.home-thumbnail {
  flex: 1;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeside-img {
  width:600px; 
  height: auto;
  cursor: pointer;
  border-radius: 8px; 
}

@media (max-width: 768px) {
  .tot-denvedio h2 {
    font-size: 1.8em; 
    padding: 0.7em;
    margin-bottom: 10px; 
  }

  .video-title-container {
    flex-direction: column;
    gap: 5px; 
  }

  .home-thumbnail {
    max-width: 100%; 
    margin: 0 auto; 
  }

  .homeside-img {
    width: 300px; 
    height: auto;
  }

  .tot-denvedio {
    padding: 5px; 
  }
}

