/* Overall Container */
.AIProvider-container {
    width: 99%;
    margin: 30px auto;
    padding: 30px;
    background-color: #1b66da;
    border-radius: 20px;
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  
  .AIProvider-header {
    margin-bottom: 20px;
  }
  
  .AIProvider-title {
    font-size: 2em;
    font-weight: 400;
    padding: 0.5em;
    color: white;
    margin-bottom: 10px;
  }
  
  .AIProvider-description {
    font-size: 1.2rem;
    color: aliceblue;
    line-height: 1.8;
    margin-bottom: 10px;
    text-align: center; 
  }
  
  .AIProvider-categories-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 15px; 
  }
  
  .AIProvider-categories {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 35px;
  }
  
  .AIProvider-category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #003873;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center; 
  }
  
  /* .AIProvider-category-item:hover {
    background-color: #d0e9ff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  } */
  
  .AIProvider-tick {
    color: #1a9f60;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .AIProvider-title {
      font-size: 1.8rem;
    }
    .AIProvider-container {
      width: 100%;
      border-radius: 0px;
    }
  
    .AIProvider-description {
      font-size: 1rem;
    }
  
    .AIProvider-category-item {
      font-size: 0.9rem;
      padding: 8px 15px; 
    }
  }
  