.solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.solution-container h1 {
  font-size: 2em;
  color: #344ea1;
  margin: 0;
  text-align: center;
  width: 100%;
}

.bulb-image {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.solution-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.solution-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.solution-image {
  width: 35%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation: slideUp 5s ease-in-out infinite;
}

.solution-right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding-left: 2em;
}

.solution-right-section h3 {
  font-size: 1.2em;
  width: 100%;
  text-align: left;
  color: black;
}

.solution-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.solution-item {
  display: flex;
  align-items: center;  
  margin-left: 10px; 
}

.checkmark {
  color: #4190fc;
  font-size: 1.5em;
  margin-right: 10px; 
  position: relative;
  top: 2px;  
}

@keyframes slideUp {
  0% {
    transform: translateY(20px); 
    opacity: 0.8; 
  }
  50% {
    transform: translateY(0); 
    opacity: 1; 
  }
  100% {
    transform: translateY(20px); 
    opacity: 0.8; 
  }
}


@media screen and (max-width: 768px) {
  .solution-container {
    padding: 1em;
  }

  .solution-content {
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
  }

  .solution-left-section, .solution-right-section {
    width: 100%;
    text-align: center;
  }

  .solution-right-section {
    padding-left: 0;
  }

  .solution-image img {
    max-width: 70%;
    height: auto;
  }

  .solution-right-section h3 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .solution-list {
    gap: 10px;
  }

  .solution-container h1 {
    font-size: 1.5em;
  }

  .checkmark {
    font-size: 1.2em;
    margin-right: 8px;
  }

  .solution-image {
    width: 50%;
    margin-top: 10px;
    padding-bottom: 1.5em;
  }
}

@media screen and (max-width: 400px) {

  .solution-image img {
    max-width: 90%;
    height: auto;
  }

}