.aboutus-container {
    width: 100%;
    padding: 40px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
  }
  
  .aboutus-econ-systems {
    border-radius: 12px;
    padding: 25px;
    text-align: left;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .quality-col {
    color: #00aeef;
  }
  
  .quality-col a {
    color: #00aeef;
    text-decoration: none;
  }
  
  .aboutus-heading {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .aboutus-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .aboutus-left-image {
    width: 100px;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
  }
  
  .aboutus-text {
    flex-grow: 1;
  }
  
  .aboutus-paragraph {
    font-size: 1em;
    color: black;
    line-height: 2em;
    margin-bottom: 20px;
  }
  
  .aboutus-bottom-image {
    margin-top: 20px;
    float: right;
    width: 100px;
    height: auto;
    border-radius: 10px;
  }
  
  .aboutus-image-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .aboutus-image-wrapper {
    background-color: #f9fafb;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    transition: transform 0.3s ease;
  }
  
  .aboutus-image-wrapper:hover {
    transform: scale(1.05);
  }
  
  .aboutus-image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .aboutus-container {
      padding: 10px;
    }
  
    .aboutus-heading {
      font-size: 1.5em;
    }
  
    .aboutus-content {
      flex-direction: column;
    }
  
    .aboutus-left-image {
      margin-bottom: 20px;
      width: 50%;
      margin: 0 auto;
    }
  
    .aboutus-paragraph {
      font-size: 1em;
    }
  
    .aboutus-bottom-image {
      float: none;
      margin: 10px auto 0;
    }
  }
  