.bannerTwo-container-unique {
  display: flex;
  background-color:white;
  width: 100%;
  border: none;
  height: 500px; 
  overflow-x: hidden;
}

.bannerTwo-left-unique {
  width: 60%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerTwo-right-unique {
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  padding-right: 4em;
  color: #ffffff; 
}
.stylish-font{
  font-weight: 500;
  font-style: italic;
  color: white;
  background-color: #344ea1;
  line-height: 1.5em;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.1em;
  text-align: justify;
}
.spacer-unique {
  margin-top: 10px; 
}

.spacer-large-unique {
  margin-top: 20px;
}

.bannerTwo-button-unique {
  align-self: flex-end;
}

.bannerTwo-right-unique h2 {
  font-weight: 200;
  font-size: 2.6em;
  text-align: right;
  color: #6978ba;
}

.bannerTwo-right-unique h3 {
  color: #6978ba;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: justify;
}

.image-row-unique {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: relative; 
}

.empty-unique {
  width: 350px;
  height: 390px;
  position: absolute; 
  left: -290px; 
  z-index: 3; 
}

.lowstocks-unique {
  width: 150px;
  height: 200px;
  position: absolute;
  left: 30px; 
  top: -70px; 
  z-index: 2; 
  opacity: 0; 
}

.lightimg-unique {
  width: 450px;
  height: auto;
  position: absolute; 
  left: -80px; 
  top: -200px;
  z-index: 1; 
  opacity: 0; 
}

@keyframes bottom-to-top-unique {
  0% {
    transform: translateY(100px);
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

@keyframes right-to-left-unique {
  0% {
    transform: translateX(100px); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}

.lowstocks-unique.animate {
  animation: bottom-to-top-unique 2s ease-out forwards;
}

.lightimg-unique.animate {
  animation: right-to-left-unique 2s ease-out forwards;
}
.bannerTwo-bannerLine-container {
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
  padding-right: 4em; 
  background-color: #6978ba;
}

.bannerTwo-bannerLine {
  border-bottom: 1px solid #ffffff;
  width: 50%; 
}



@media (min-width: 1450px) {
  .bannerTwo-right-unique h3 {
    color: #344ea1;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.2em;
  }
  
}


/* mobike */

.placeholder-unique2 {
  display: none; 
}

@media (max-width: 1015px) {
  .bannerTwo-container-unique {
    flex-direction: column;
    height: auto; 
  }
  
  .bannerTwo-left-unique,
  .bannerTwo-right-unique {
    width: 100%;
    align-items: center; 
    text-align: center;
    padding: 0 1em; 
  }
  .bannerTwo-right-unique h2 {
    font-weight: 200;
    font-size: 2em;
  }
  .image-row-unique {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
  }

  .empty-unique,
  .lowstocks-unique,
  .lightimg-unique {
    display: none; 
  }

  .placeholder-unique2 {
    display: block; 
    width: 100%; 
    height: auto; 
    margin-top: 20px; 
  }

  .bannerTwo-button-unique {
    margin-top: 10px; 
  }

  .bannerTwo-right-unique h2 {
    font-size: 2em;
    text-align: center;
    padding: 0.4em;

  }
  
  .bannerTwo-right-unique h3 {
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify;
  }
}
