.key-features-container {
  position: relative;
  width: 100%;
  padding: 2em;
  background: 
    /* linear-gradient(rgba(27, 27, 27, 0.3), rgba(0, 0, 0, 0.3)),  */
    url('../../../assets/productpage/keyfeaturesbackground.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
}



.key-features-title {
  text-align: center; 
  font-size: 2.5em;
  color: aqua;
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 2em;
  text-shadow: 0 2px 4px rgba(9, 3, 3, 0.6);
}

.key-features-staircase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start;
  gap: 40px; 
  position: relative;
}

.key-features-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 2em;
  height: 250px;
  width: 250px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: rotate(-2deg);
}

.key-features-card:nth-child(odd) {
  transform: rotate(2deg);
}

.key-features-card:hover {
  transform: scale(1.05) rotate(0deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.key-features-icon-container {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #b8f2ff;
  width: 70px;
  height: 70px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.key-features-icon {
  width: 40px;
  height: 40px;
}

.key-features-title-text {
  font-size: 1.2em;
  color: #003873;
  margin-top: 40px;
}

.key-features-text {
  font-size: 0.95em;
  color: #555;
  margin-top: 10px;
}
@media (min-width: 1300px) {
  .key-features-staircase {
    gap: 45px; 
  }
  
  .key-features-card {
    height: 250px;
    width: 300px;
  }
  
}

@media (max-width: 768px) {
  .key-features-staircase {
    flex-direction: column;
    align-items: center;
  }
  .key-features-container {
    padding: 1.3em;
  }
  .key-features-title {
    font-size: 2em;
    margin-bottom: 1.5em;
  }
  
  .key-features-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .key-features-card:nth-child(odd) {
    transform: none;
  }
  .key-features-card {
    transform:none;
    
  }
  
  .key-features-card:hover {
    transform:none;
    box-shadow:none;
  }
}
