.key-features-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: auto;
  padding: 2em;
  overflow-x: hidden;
}

.key-features-title {
  text-align: center;
  font-size: 2em;
  color: #344ea1;
  width: 80%;
  font-weight: 400;
  padding: 1.5em;
}

.key-features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.key-features-card {
  background-color: #f1f2f2;
  border-radius: 8px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 350px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.key-features-card:hover {
  background-color: #4190fc;
  transform: translateY(-5px);
}

.key-features-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.key-features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

.key-features-title-text {
  font-size: 1.1em;
  color: #003873;
  font-weight: 400;
  margin-top: 15px;
}

.key-features-text {
  color: #343434;
  font-size: 1em;
  font-weight: 300;
  padding: 0 10px;
  transition: color 0.3s ease;
  height: 80px; 
}

.key-features-card:hover {
  background-color: #4190fc;
  transform: translateY(-5px);
}

.key-features-card:hover .key-features-title-text {
  color: white; 
}

.key-features-card:hover .key-features-icon  {
  background-color: white;
  transform: scale(1.1);
}

.key-features-card:hover .key-features-text {
  color: white;
}

@media (max-width: 1024px) {
  .key-features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .key-features-container {
    height: auto;
  }
}

@media (max-width: 600px) {
  .key-features-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .key-features-title {
    font-size: 1.5em;
    width: 100%;
  }
  .key-features-card {
    height: 300px;
    padding: 30px 15px;
  }
}
