.product-vedios-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  height: auto;
  background-color: #f1f2f2;
}

.product-vedios-container h2 {
  font-size: 2em;
  color: #003873;
  padding: 0.4em;
  text-align: center;
  margin: 0;
}

.product-thumbnail-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-thumbnail {
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
}



/* Mobile View */
@media (max-width: 768px) {
  .product-vedios-container h2 {
    font-size: 1.8em;
    padding: 0.2em;
    margin-bottom: 10px;
  }

  .product-thumbnail-row {
    flex-direction: column;
    gap: 10px;
  }

  .product-thumbnail {
    width: 450px;
  }

  .product-vedios-container {
    padding: 2em;
  }
}

@media (max-width: 500px) {
  
  .product-thumbnail {
    width: 250px;
  }
}